<main>
  <div class="container">
    <aside>
      <ul class="progress">
        <li>
          <a href="" class="step step-1 {{ orderVm.currentStep === orderVm.steps.dimensionsAndQuantity ? 'is-active' : '' }}"
             ng-click="orderVm.showStep(orderVm.steps.dimensionsAndQuantity)">
            <div class="step-number">1</div>
            <h3 class="step-heading">Dimensions &amp; Quantity</h3>
            <dl>
              <dt>Width:</dt>
              <dd>{{ orderVm.order.dimensions.width | number: 2 }}m</dd>
              <dt>Height:</dt>
              <dd>{{ orderVm.order.dimensions.height  | number: 2 }}m</dd>
              <dt>Length:</dt>
              <dd>{{ orderVm.order.dimensions.length  | number: 2 }}m</dd>
              <dt>Quantity:</dt>
              <dd>{{ orderVm.order.quantity }}</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="" class="step step-2 {{ orderVm.currentStep === orderVm.steps.cardboardGrade ? 'is-active' : '' }}"
             ng-click="orderVm.showStep(orderVm.steps.cardboardGrade)">
            <div class="step-number">2</div>
            <h3 class="step-heading">Cardboard Grade</h3>
            <span class="step-value">{{ orderVm.order.grade }}</span>
          </a>
        </li>
        <li>
          <a href="" class="step step-3 {{ orderVm.currentStep === orderVm.steps.printQuality ? 'is-active' : '' }}"
             ng-click="orderVm.showStep(orderVm.steps.printQuality)">
            <div class="step-number">3</div>
            <h3 class="step-heading">Print Quality</h3>
            <span class="step-value">{{ orderVm.order.printing }}</span>
          </a>
        </li>
        <li>
          <a href="" class="step step-4 {{ orderVm.currentStep === orderVm.steps.optionalExtras ? 'is-active' : '' }}"
             ng-click="orderVm.showStep(orderVm.steps.optionalExtras)">
            <div class="step-number">4</div>
            <h3 class="step-heading">Optional Extras</h3>
            <span class="step-value">{{ orderVm.showExtras() }}</span>
          </a>
        </li>
        <li ng-if="orderVm.dynamicTotalPrice || orderVm.currentStep === orderVm.steps.totalCost">
          <a href="" class="step step-total-cost">
            <h3 class="step-total-cost-heading">Total Cost</h3>
            <div class="step-total-cost-value">{{ orderVm.order.price.total | currency: "£" }}</div>
          </a>
        </li>
      </ul>
    </aside>

    <section>

      <div id="step-1" class="content-step" ng-if="orderVm.currentStep === orderVm.steps.dimensionsAndQuantity">
        <h2>Step 1 - Dimensions &amp; Quantity</h2>

        <p class="intro">
          Enter the width, height, length and quantity of the box(es) you require.
        </p>

        <div class="form-row">
          <label for="width">Width:</label>
          <input type="number" name="width" id="width" value="0" min="0" step="0.01"
                 ng-model="orderVm.order.dimensions.width" ng-change="orderVm.updateBoxArea()">
        </div>

        <div class="form-row">
          <label for="height">Height:</label>
          <input type="number" name="height" id="height" value="0" min="0" step="0.01"
                 ng-model="orderVm.order.dimensions.height" ng-change="orderVm.updateBoxArea()">
        </div>

        <div class="form-row">
          <label for="length">Length:</label>
          <input type="number" name="length" id="length" value="0" min="0" step="0.01"
                 ng-model="orderVm.order.dimensions.length" ng-change="orderVm.updateBoxArea()">
        </div>

        <div class="form-row">
          <label for="quantity">Quantity:</label>
          <input type="number" name="quantity" id="quantity" value="0" min="0" step="1"
                 ng-model="orderVm.order.quantity" ng-change="orderVm.updateOrderGradePrintingExtrasPrices()">
        </div>

        <div class="form-actions">
          <button type="button" class="btn btn-primary btn-next"
                  ng-disabled="orderVm.order.quantity === 0" ng-click="orderVm.nextStep()">
            Next
          </button>
        </div>
      </div>


      <div id="step-2" class="content-step" ng-if="orderVm.currentStep === orderVm.steps.cardboardGrade">
        <h2>Step 2 - Cardboard Grade</h2>

        <p class="intro">
          <strong>FantasticBoxCo</strong> offer a variety of grades of cardboard, each altering the price per m<sup>2</sup>:
        </p>

        <ol class="btn-radios-list">
          <li ng-repeat="grade in orderVm.options.grades">
            <label>
              <input type="radio" name="cardboard-grade" value="{{ grade.name }}"
                     ng-model="orderVm.order.grade" ng-change="orderVm.updateOrderGradePrice(grade.name)">
                <span id="radio-{{ grade.id }}" class="btn btn-radio">
                  {{ grade.name }} Grade<br>&pound;{{ grade.price | number: 2 }} m<sup>2</sup>
                </span>
            </label>
          </li>
        </ol>

        <div class="form-actions">
          <button type="button" class="btn btn-back"
                  ng-click="orderVm.previousStep()">
            back
          </button>
          <button type="button" class="btn btn-primary btn-next"
                  ng-disabled="orderVm.order.grade === ''"
                  ng-click="orderVm.nextStep()">
            Next
          </button>
        </div>
      </div>

      <div id="step-3" class="content-step" ng-if="orderVm.currentStep === orderVm.steps.printQuality">
        <h2>Step 3 - Print Quality</h2>

        <p class="intro">
          A variety of printing options are available for any branding / logos which are required:
        </p>

        <ol class="btn-radios-list">

          <li ng-repeat="printing in orderVm.options.printings">
            <label>
              <input type="radio" name="print-quality" value="{{ printing.name }}"
                     ng-model="orderVm.order.printing"
                     ng-change="orderVm.updateOrderPrintingPrice()">
                <span id="radio-{{ printing.id }}"class="btn btn-radio" ng-if="!printing.discount" >
                  {{ printing.name }}<br>&pound;{{ printing.price | number: 2 }} m<sup>2</sup>
                </span>
                <span class="btn btn-radio" ng-if="printing.discount">
                  <strong>{{ printing.name }}</strong> branding<br>{{ printing.discount * 100}}% discount on total price
                </span>
            </label>
          </li>

        </ol>

        <div class="form-actions">
          <button type="button" class="btn btn-back"
                  ng-click="orderVm.previousStep()">
            back
          </button>
          <button type="button" class="btn btn-primary btn-next"
                  ng-disabled="orderVm.order.printing === ''"
                  ng-click="orderVm.nextStep()">
            Next
          </button>
        </div>
      </div>


      <div id="step-4" class="content-step" ng-if="orderVm.currentStep === orderVm.steps.optionalExtras">
        <h2>Step 4 - Optional Extras</h2>

        <ol class="btn-radios-list">

          <li ng-repeat="extra in orderVm.options.extras">
            <label>
              <input type="checkbox" name="optional-extras" value="{{ extra.name }}"
                     ng-checked="orderVm.order.extras.indexOf(extra.name) > -1"
                     ng-click="orderVm.toggleExtras(extra.name)">
                <span id='check-{{ extra.id }}' class="btn btn-radio">
                  {{ extra.name }}<br>&pound;{{ extra.price | number: 2 }} per box<br>
                  <small ng-if="extra.note">({{ extra.note }})</small>
                </span>
            </label>
          </li>

        </ol>

        <div class="form-actions">
          <button type="button" class="btn btn-back"
                  ng-click="orderVm.previousStep()">
            back
          </button>
          <button type="button" class="btn btn-primary btn-next"
                  ng-click="orderVm.nextStep()">
            Finish
          </button>
        </div>
      </div>


      <div id="total-cost" class="content-step" ng-if="orderVm.currentStep === orderVm.steps.totalCost">

        <h2>Total Cost</h2>

        <div id="validation-errors" ng-if="orderVm.errors.length > 0">
          <strong>Validation error(s):</strong><br>
          <ol>
            <li ng-repeat="error in orderVm.errors">
              <span id="error-message">{{ error }}</span>
            </li>
          </ol>
          <span>Click on the left panels to navigate to the desired step.</span>
        </div>

        <div id="no-validation-errors" ng-if="orderVm.errors.length === 0">
          <dl class="breakdown">
            <dt>Dimensions &amp; Quantity:</dt>
            <dd>{{ orderVm.order.quantity }} &times; {{ orderVm.order.dimensions.width }}(W) &times;
              {{ orderVm.order.dimensions.height }}(H) &times; {{ orderVm.order.dimensions.length }}(L)
            </dd>

            <dt>Cardboard Grade ({{ orderVm.order.price.grade | currency: '£' }}):</dt>
            <dd>{{ orderVm.order.grade }} grade</dd>

            <dt>Print Quality ({{ orderVm.order.price.printing | currency: '£' }}):</dt>
            <dd>{{ orderVm.order.printing }}</dd>

            <dt>Optional Extras ({{ orderVm.order.price.extras  | currency: '£' }}):</dt>
            <dd ng-if="orderVm.order.extras.length === 0">None</dd>
            <dd ng-if="orderVm.order.extras.length > 0">
              <ol>
                <li ng-repeat="extra in orderVm.order.extras">{{ extra }}</li>
              </ol>
            </dd>

            <dt ng-if="orderVm.order.price.discount > 0">
              Discount:
            </dt>
            <dd ng-if="orderVm.order.price.discount > 0">
              {{ orderVm.order.price.total * orderVm.order.price.discount | currency: '£' }}
            </dd>
            <dt>Total Cost:</dt>
            <dd>{{ orderVm.order.price.total | currency: "£" }}</dd>
          </dl>
        </div>


      </div>

    </section>

  </div>
</main>
